/*  Blue Squares */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    min-height: 15px;
}

.grid-item {
    background-color: blue;
    border-radius: 4px;
    border: solid;
    height: 80px;
}

.grid-item-1a {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-item-3b {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.grid-item-4d {
    grid-column: 4 / -1;
    grid-row: 4 / -1;
}

/* fancy dynamic Overlays */

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

li {
    font-size: 3rem;
    padding-left: 0px;
    list-style-type: disc;
}

.grid-container-fancy {
    flex-grow: 1;
    min-width: 200px;

    display: grid;
    grid-template-columns: 1fr 20px 6fr 20px 1fr;
    grid-template-rows: 1fr 20px 4fr 20px 1fr;
    min-height: 600px;
    margin: auto 2rem;
}

.card {
    border: solid;
    border-radius: 4px;
}

.forward {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-color: rgba(150, 0, 0, 1.0)
}

.back {
    border: none;
    background-color: rgba(150, 150, 150, 0.6);
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}