h1, h2, h3, h4, h5, h6, p {
    margin: 1rem;
}

p {
    font-size: 1.5rem;
}

ul {
    list-style-type: circle;
    margin-left: 3rem;
    font-size: 1.25rem;
}

.no-bullet {
    list-style-type: none;
}

.row {
    display: flex;
}

.space-evenly {
    justify-content: space-evenly;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 8px;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
}

.card-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 8px;
    border-radius: 40px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.vw100vh100 {
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.thing1 {
    grid-column: 2 / -1;
}

.thing2 {
    grid-column-end: span 2;
}

.thing5 {
    grid-column-start: 2;
    grid-column-end: 4;
} 



.block-fill {
    border: solid;
}

.grid-container-named {
    display: grid;
    grid-template-areas: 
      "header header header"
      "sidebar content content"
      "footer footer footer";
  }
  
  .header {
    grid-area: header;
  }
  .sidebar {
    grid-area: sidebar;
  }
  .content {
    grid-area: content;
  }
  .footer {
    grid-area: footer;
  }

  .inline-grid-container {
    display: inline-grid;
  }