/* Reset margins and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(220, 220, 220, 0.9);
}

code {
    background-color: #bbbbbb; /* Light gray background for readability */
    color: #3c3546; /* Use a distinct color for the text */
    font-family: 'Courier New', monospace; /* Monospace font for code */
    padding: 0 0.2em; /* Add some padding for spacing */
    border: solid;
    border-width: 1px;
    border-radius: 4px; /* Rounded corners */
    font-size: 0.95em; /* Slightly smaller than regular text */
  }